<footer class="site-footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-brand">
        <p>&copy; {{ site.time | date: '%Y' }} Evernia Design. All rights reserved.</p>
        <p class="footer-tagline">Premium digital solutions for ambitious businesses.</p>
      </div>
      <ul class="footer-social">
        <li><a href="https://x.com/UnblockedCarver" target="_blank">Twitter</a></li>
        <li><a href="https://www.linkedin.com/in/jessejamesboyes/" target="_blank">LinkedIn</a></li>
        <li><a href="https://github.com/GitRealHappy" target="_blank">GitHub</a></li>
      </ul>
    </div>
  </div>
</footer> 