<header class="site-header">
  <nav class="navbar">
    <a href="{{ site.baseurl }}/" class="nav-logo" style="display: flex; align-items: center;">
      <img src="{{ site.baseurl }}/assets/images/logosmall.png" alt="Evernia Design Logo" style="margin-right: 1px; height: 50px;">
      Evernia Design
    </a>
    <button class="nav-toggle" id="navToggle" aria-label="toggle navigation">
      <span class="hamburger"></span>
    </button>
    <ul class="nav-links" id="navLinks">
      <li><a href="{{ site.baseurl }}/">Home</a></li>
      <li><a href="{{ site.baseurl }}/team">Team</a></li>
      <li><a href="{{ site.baseurl }}/services">Services</a></li>
      <li><a href="{{ site.baseurl }}/portfolio">Portfolio</a></li>
      <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
      <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
      <li><a href="{{ site.baseurl }}/careers">Careers</a></li>
    </ul>
  </nav>
</header> 